*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Courier New', monospace;
}

.digital_clock{
    font-size: 80px;
    color: #00e5ff;
    letter-spacing: 8px;
    font-weight: bold;
}